
@media screen and (max-width: 1199px) {

}
@media screen and (max-width: 1024px) {
	
}
@media screen and (max-width: 1000px) {
 
   
	
}
@media screen and (max-width: 992px){
    
	
}
@media screen and (max-width: 980px){
    
	
}
@media screen and (max-width: 900px){
   
}
@media screen and (max-width: 890px){
 
}
@media screen and (max-width: 860px){
	 
	 
	
}

@media screen and (max-width: 780px){
   
}
@media screen and (max-width: 767px){
	  .navbar-right
	  {
	  	background: #fff;
	  	color: #000;
	  	width: 45%;
	    margin-left: 60%;
	}
	.navbar-default .navbar-nav>li>a{color:#000 }
	.btn-default {
	    color: #333;
	    background: none;
	    border: none;
	    position: : absolute;
	    top: 10%;
	    right: 20%;
	}
	.navbar-form .form-group{
		position: relative;
	}
	.form-control
	{
		width: 80%;
    margin-left: 5%;
	}
.bg_img {
    padding: 0 28% 0 35%;
    font-size: 25px;
    line-height: 50px;
    color: #fff;
}
	.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form,.navbar-default .navbar-collapse, .navbar-default .navbar-form{border: none}
	.lienhe input[type=submit], .lienhe input[type=reset]{width:30%}
}
@media screen and (max-width: 730px){
    
}

@media screen and (max-width: 670px){
   
   
}
@media screen and (max-width: 640px){
	
	
}@media screen and (max-width: 600px){
	
	 
}
@media screen and (max-width: 550px){
	
	 
}
@media screen and (max-width: 480px){
	
}
@media screen and (max-width: 360px){
	
}